#botao-home {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

#botao-home:hover {
    background-color: #27ae60;
    border: 1px solid rgba(0, 0, 0, 0.658);
    transform: translateY(-2px);
}

#botao-home:active {
    background-color: #229954;
}

#botao-home:focus {
    background-color: #27ae60;
    transform: translateY(0);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px 0;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    width: 100%;
    max-width: 200px;
}

.form-container button:hover {
    background-color: #27ae60;
    border: 1px solid rgba(0, 0, 0, 0.658);
    transform: translateY(-2px);
}

.form-container button:active {
    background-color: #229954;
}

.form-container button:focus {
    background-color: #27ae60;
    transform: translateY(0);
}

#btnExcluirTodos {
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
    align-self: center;
}