@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Chakra Petch", sans-serif;
  background-color: #dddddd;
  background-image: url("../images/fundo_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  margin: 0;
  background-image: linear-gradient(to right, #065a6f75, #076f347d);
  padding: 1rem;
  width: 100%;
  margin-bottom: 50px;
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 87%;
}

header>img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 1px solid #222831;
  margin-left: 1rem;
}


.titulo>h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #222831;
  text-align: center;
  letter-spacing: 0.4rem;
  margin: 0;
}

.titulo>p {
  font-size: 1.5rem;
  color: #222831;
  text-align: center;
  margin: 0;
}

/* Estiliza as seções da página */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

/* Estiliza os inputs dentro das seções */
section input {
  width: 30rem;
  border: none;
  padding: 1rem;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  color: #45474b;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Estiliza os botões dentro das seções */
section button {
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #30475e;
  color: #f5f7f8;
  font-size: 1rem;
  cursor: pointer;
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
  background-color: #30475e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
  width: 60rem;
  height: 46vh;
  overflow-y: auto;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.6rem;
}

/* Estiliza cada item de resultado */
.item-resultado {
  background: #ffffff;
  border-radius: 0.6rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estiliza os títulos dentro dos itens de resultado */
.bloco h2 {
  font-size: 1.5rem;
  color: #222831;
}

/* Estiliza os links dentro dos itens de resultado */
.bloco a {
  text-decoration: none;
  color: #ffffff;
}

.bloco a:hover {
  text-decoration: underline;
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
  color: #45474b;
  margin: 0.5rem 0;
  text-align: justify;
}

footer {
  background-color: #f5f7f8;
  color: #45474b;
  text-align: center;
  padding: 0;
  width: 100%;
  bottom: 0;
  margin-top: 60vh;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }

  section input {
    width: 25rem;
    padding: 0.8rem;
  }

  .resultados-pesquisa {
    width: 40rem;
    height: 40vh;
  }

  .item-resultado h2 {
    font-size: 1.3rem;
  }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }

  section input {
    width: 17rem;
  }

  section button {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }

  .resultados-pesquisa {
    width: 90%;
    height: 50vh;
  }

  .item-resultado h2 {
    font-size: 1.1rem;
  }

  footer {
    font-size: 0.9rem;
  }
}

.blocos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bloco {
  width: 20vw;
  height: 65vh;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(91, 83, 83, 0.1);
  padding: 20px;
  text-align: center;
  margin: 20px;
}

.bloco .blocos:nth-child(n + 5) {
  width: calc(33.333% - 20px);
}

.bloco img {
  width: 20vw;
  height: 30vh;
  border-radius: 10px 0 0 10px;
  margin-bottom: 10px;
}

/* Classe para centralizar o item selecionado */
.centro {
  display: block;
  margin: 20px;
  text-align: center;
  font-size: 20px;
}

/* Classe para ocultar elementos */
.oculto {
  display: none;
}